h1 {
    font-size: 48px;
    text-align: center;
}

body {
    background-color: powderblue;
}

.indexfigcaption {
    text-align: center;
    font-size: 32px;
}

.pagefigcaption{
    font-size: 20px;
    text-align:center;
    flex-wrap: wrap;
    font-style: italic;
}

img {
    width: auto;
    height: 400px;
    display: block;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery figure {
    flex: 0 0 300px;
    margin-bottom: 20px;
}

.video {
    display: flex;
    justify-content: center;
}