h1 {
    text-align: center;
}

body {
    background-color: powderblue;
}

figure figcaption {
    text-align: center;
}

figure {
    display: inline-block;
    margin: 20px;
}
figure img {
    vertical-align: top;
}